@import "tailwindcss";

:root {
  --Primary-color: #007BFC;
  --Background-Card: #2D2E5A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}


