@import "tailwindcss";

:root {
  --Primary-color: #007BFC;
  --Background-Card: #2D2E5A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

/* Hide scrollbars while keeping functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}


